/* -------------------------------------------
   Global Reset & Theme
-------------------------------------------- */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.profilephoto{
  object-fit: cover;
  object-position: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-left: 30px;
}
.left-Navbar{
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: 100px;
}
.messagepng{
  height: auto;
  width: 20px;
  margin-right: 2px;
}
button{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 15px;
  margin-left: 10px;
  padding: 6px;
  background-color: white;
  border: none;
  text-align: left;
  border-radius: 10px;
  font-weight: 500;

}
button:hover{
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: 500;
  transition: 0.3s;
}

