/* -------------------------------------------
   Global Reset & Theme
-------------------------------------------- */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: n
}
body{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;

  height: 1fr;
}
/* LEFT NAVBAR */
.left-Navbar{
  border: 2px solid rgb(0, 0, 0);
  margin: 5px;
  border-radius: 30px;
  padding: 5px;
}

.profile{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}
.username{
  display: flex;
  align-items: center;
  justify-content: center;
}
.profilephoto{
  object-fit: cover;
  object-position: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-left: 30px;
}
.messagepng{
  height: auto;
  width: 20px;
  margin-right: 2px;
}
button{
  justify-content: left;
  align-items: center;
  display: flex;
  font-size: 15px;
  margin: 10px;
  padding: 6px;
  background-color: white;
  border: none;
  text-align: left;
  border-radius: 10px;
  font-weight: 500;

}
button:hover{
  background-color: black;
  color: white;
  padding: 10px;
  font-weight: 500;
  transition: 0.3s;
}

/* FEED SECTION */
.feed {
  margin: 10px;
  background: white;
  border-radius: 16px;
  padding: 5px;
  border: 2px solid black;
}

.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  gap: 7px;
}

.tab {
  cursor: pointer;
}



/* POSTS */
.post {
  background: #f7f7f7;
  border-radius: 16px;
  padding: 18px;

}

.post.one { background: #e8f0ff; }
.post.two { background: #fff9d9; }

.post-header {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 10px;
}
.avatar{
  width: 70px;
  object-fit: cover;
  height: 70px;
  border-radius: 35px;
}
.post-images {
  margin: 12px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.post-images img {
  width: 100%;
  border-radius: 10px;
}

.post-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.woow {
  background: #ff3b30;
  color: white;
  padding: 6px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* SHARE BOX */
.share-box {
  background: #f3f3f3;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.share-box input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.share-actions {
    display: flex;
    gap: 15px;
    font-size: 14px;
}

.share-box button {
    align-self: flex-end;
    padding: 8px 16px;
    background: #2a4fff;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
}